.home {
  padding: 100px 20px;
  width: 75%;
  margin: auto;
}

.about {
  width: 70%;
  margin: auto;
}

div h1 {
  line-height: 0.8em;
}
.bar {
  border: 0;
  border-top: 6px solid #ef6087;
  max-width: 300px;
}

.author {
  font-size: 16px;
  color: black;
}

.bio {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.bioleft,
.bioright {
  max-width: 25%;
  text-align: justify;
}

.bioleft {
  padding-right: 16px;
}

.bioright {
  padding-left: 16px;
}

@media all and (max-width: 728px) {
  .home {
    padding: 16px;
  }

  .about,
  .bio {
    flex-direction: column;
  }

  .image {
    height: 50vw;
    width: 100%;
  }

  .bioleft,
  .bioright {
    max-width: 100%;
    text-align: justify;
    padding: 0;
  }
}
